{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="login-wrapper">
        <div class="signin">
            <form action="/login/" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="group head">

                    <h2>Welcome Back,</h2>

                    <p>Sign In To Continue</p>

                </div>

                <div class="group">

                    <label for="username-field">Email or Username</label><br>

                    <input type="text" name="username" id="username-field" required>

                </div>

                <div class="group">

                    <label for="password-field">Password</label><br>

                    <input type="password" name="password" id="password-field" required>

                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>

                </div>

                {% if messages %}

                <div class="group forgot-pass-link">
                    {% for message in messages %}
                    <span>{{ message }}</span>
                    {%  endfor %}

                </div>

                {% endif %}

                <div class="group">

                    <button type="submit"><span>Login</span></button>

                </div>

            </form>

        </div>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>