{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Money</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="login-wrapper">
        <div class="signin">

            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="group head">
                    <h2>Send your Jocund</h2>

                    {% if not user.is_office %}
                    <p>Balance : {{ user.balance }}</p>
                    {% endif %}
                </div>

                <div class="group">

                    <label for="amount-field">Enter amount</label><br>

                    <input type="number" name="amount" id="amount-field" min="1" {% if not user.is_office %} max="{{ user.balance }}" {% endif %} required>

                </div>

                <div class="group">

                    <label for="touser-field">TO (user id)</label><br>

                    <input type="text" name="touser" id="touser-field" required>

                </div>



                <div class="group">

                    <button type="submit"><span>Send</span></button>

                </div>

                {% if messages %}

                <div class="group forgot-pass-link">
                    {% for message in messages %}
                    <span>{{ message }}</span>
                    {%  endfor %}

                </div>

                {% endif %}

            </form>

        </div>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>